@font-face {
  font-family: "Taviraj";
  src: url(../font/Taviraj-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Taviraj";
  src: url(../font/Taviraj-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Taviraj";
  src: url(../font/Taviraj-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url(../font/MaterialIconsOutlined-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
